.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  justify-content: flex-start;
}

.card {
  cursor: pointer;
  width: 30%;
  height: 32rem;
  margin-top: 1rem;
  margin-left: 3%;
  transition-duration: 1s;
  padding: 0.5rem;
}

.card__div-address {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 13rem;
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;
}

.card__div-address p {
  padding-left: 0.5rem;
}

.card__div-address p:nth-child(2) {
  font-weight: 600;
  font-size: 1.1rem;
}

.card__div-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__div-info p {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__div-info p span:nth-child(1) {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.card__div-info p span:nth-child(2) {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
}

.card-content > p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

.card-content__button-1 {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  height: 3rem;
}

.card-content__button-2 {
  width: 60%;
  background-color: yellow;
  color: blacks;
  font-size: 1.3rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  margin: 10px auto 0 auto;
  display: block;
}

.card:hover {
  border: 1px solid black;
  box-shadow: 0.6rem 0.6rem 0.3px black;
}

.pagination-controls {
  margin: 2rem auto 0 auto;
  text-align: center;
}

.button_slide {
  color: #fff;
  border: 2px solid black;
  border-radius: 0px;
  padding: 1.25rem 0 1.25rem 0;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.6s;
  background-color: white;
  color: black;
  width: 9rem;
  text-align: center;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 3rem black;
  color: white;
  border: 2px solid white;
}

.header {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
