
<ul *ngIf="properties.length">
  <li *ngFor="let property of properties | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalCount }">
    <div class="card" *ngIf="property.id_properties_base" (click)="propertyClicked(property.property_slurp)">
    <img [src]="property.img_src_main"/>
    <p>{{property.address_area}}</p>
    <p>{{property.address}}</p>
    <p><span>{{'PROPERTIES.totalOffering' | translate}}: </span>{{property.total_offering}}</p>
    <p><span>{{'PROPERTIES.term' | translate}}: </span><span *ngIf="property.total_term">{{property.total_term.replace("years", "")}} {{'PROPERTIES.years' | translate}}</span></p>
    <p><span>{{'PROPERTIES.projectcted_annual_ROI' | translate}}: </span>{{property.projected_annual_returns_min}}</p>
  </div>
  </li>
</ul>

<pagination-controls (pageChange)="pageIsChanged($event)"></pagination-controls>
