.button_slide {
  color: #fff;
  border: 2px solid black;
  border-radius: 0px;
  padding: 20px 0 20px 0;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.6s;
  background-color: white;
  color: black;
  margin: 10px 0 0 10px;
  width: 150px;
  text-align: center;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px black;
  color: white;
}

.body {
  width: 100%;
  height: 500px;
  background-image: url(../../../assets/body-img.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.dots {
  width: 40%;
  height: 60%;
  background-image: radial-gradient(#ff8000 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.body-content {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 50%;
}

.body-content p:nth-child(1) {
  color: #5461c7;
  font-size: 1.2rem;
  font-weight: 600;
}

.body-content p:nth-child(2) {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.body-content p:nth-child(3) {
  font-size: 1.2rem;
}

.body-button {
  width: 50%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.body-button button:nth-child(1) {
  background-color: #ff8000;
  border-radius: 5px;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  width: 150px;
  height: 50px;
}

.body-button button:nth-child(2) {
  background-color: #5461c7;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  width: 200px;
  height: 50px;
}
