.button_slide {
  color: #fff;
  border: 2px solid black;
  border-radius: 0px;
  padding: 1.25rem 0 1.25rem 0;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.6s;
  background-color: white;
  color: black;
  margin: 0.7rem 0 0 0.7rem;
  width: 9rem;
  text-align: center;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 3rem black;
  color: white;
}

.body {
  width: 100%;
  height: 31.25rem;
  background-image: url(../../../assets/body-img.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.25rem;
}

.dots {
  width: 40%;
  height: 60%;
  background-image: radial-gradient(#ff8000 2px, transparent 0);
  background-size: 2.5rem 2.5rem;
  background-position: -1rem -1rem;
}

.body-content {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 50%;
}

.body-content p:nth-child(1) {
  color: #5461c7;
  font-size: 1.2rem;
  font-weight: 600;
}

.body-content p:nth-child(2) {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.body-content p:nth-child(3) {
  font-size: 1.2rem;
}

.body-button {
  width: 50%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.body-button button:nth-child(1) {
  background-color: #ff8000;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  width: 9rem;
  height: 3rem;
}

.body-button button:nth-child(2) {
  background-color: #5461c7;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  width: 12.5rem;
  height: 3rem;
}
